* {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'avenir-regular';
  src: url("./assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: 'avenir-demi';
  src: url(./assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: 'avenir-bold';
  src: url(./assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf);
}

/* media query for mobile*/
/* media query for tablet*/
/* media query for landscape, medium pixel density desktops*/
/* media query for high pixel density desktops*/
.header__nav {
  font-family: 'avenir-regular';
  width: 100vw;
  height: 80px;
  background-color: #323232;
  color: #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-logo-container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav-image {
  width: 7.5rem;
  margin-bottom: 0.5rem;
}

.header__nav-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 0.5rem;
  width: 100%;
}

.header__nav-menu-item {
  width: 50vw;
  text-align: center;
  border-bottom: 0.2125rem solid transparent;
}

.header__nav-menu-item-link {
  text-decoration: none;
  display: block;
  padding-bottom: 0.44rem;
}

.header__nav-menu-item #active {
  color: #FFFFFF;
  border-bottom: 0.4125rem solid #FFFFFF;
}

.header__nav-menu-item-link:hover {
  border-bottom: 0.4125rem solid #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .header__nav {
    width: 100vw;
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__nav-logo-container {
    margin-top: 0px;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 1.5rem;
  }
  .header__nav-menu {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
    height: 5rem;
  }
  .header__nav-menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: 5rem;
    width: 5rem;
    border-bottom: unset;
    margin-left: 3.5rem;
  }
  .header__nav-menu-item-link {
    width: 5rem;
    display: block;
    margin-top: .7125rem;
    padding-bottom: 1.4rem;
    padding-top: 1.5rem;
    border-bottom: 0.4125rem solid transparent;
  }
}

@media only screen and (min-width: 1024px) {
  .header__nav {
    width: 100vw;
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__nav-logo-container {
    margin-top: 0px;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 11.25rem;
    margin-right: 1.75rem;
  }
  .header__nav-menu {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-top: 0px;
  }
  .header__nav-menu-item {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    border-bottom: unset;
  }
  .header__nav-menu-item-link {
    border-bottom: 0.4125rem solid transparent;
  }
}
/*# sourceMappingURL=main.css.map */