.about {
   margin: 0rem 1rem 2.5rem 1rem;
   color: $color-black;
   background-color: $color-white;

    &__intro {
        display:flex;
        flex-direction: column;
        align-items: left;
        &-title {
            font-family: 'avenir-bold';
            font-size: 1.5rem;
            margin-top: 2rem;
            line-height: 2rem;
        }
        &-image {
            height: 45.313vw;
            width: 100%;
            margin: 1.5rem 0;
            object-fit: cover;
        }
        &-quote {
            font-family: 'avenir-bold';
            font-size: 0.875rem;
            line-height: 1.375rem;
            padding-bottom: 2rem;
            width: 85%;
            &-person {
                padding-bottom: 2.5rem;
                font-family: 'avenir-demi';
                font-size: 0.875rem;
                line-height: 1.375rem;
            }
        }
    }

    &__bio-names {
            font-family: 'avenir-bold';
            font-size: 0.875rem;
            line-height: 1.375rem;
    }
    &__bio-main {
            font-family: 'avenir-regular';
            font-size: 0.8125rem;
            line-height: 1.125rem;
            padding-top: 1.5rem;
    }
}

@include medium {
    .about {
        margin: 0rem 1.5rem 1.5rem 1.5rem;

        &__intro {
            &-title {
                font-size: 2.25rem;
                line-height: 2.75rem;
            }
            &-image {
                height: 47.136vw;
            }
            &-quote {
                font-size: 1.5rem;
                line-height: 2rem;
                width: unset;
                &-person {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
        &__bio-names {
            font-size: 1.5rem;
            line-height: 2rem;
        }
        &__bio-container-main {
            display: flex;
            justify-content: space-evenly;
        }

        &__bio-main {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
    #main-bot {
        padding-left: 1.5em;
    }
}

@include large {
    .about {
        margin: 0 17rem 3rem 17rem;
        &__intro {
            &-title {
                    margin: 3rem 0 0 -5.75rem;
            }
            &-image {
                margin: 3rem 0;
                height: 31.25vw
            }
            &-quote {
                padding-bottom: 2.5rem;
                &-person {
                    padding-bottom: 3.5rem;
                }
            }
        }
        &__bio-container-main {
            width: 55rem;
        }
        &__bio-main {
            width: 26.25rem;
            padding-top: 2rem;
        }
    }
    #main-bot {
        padding-left: 2.5rem;
    }
}